<div id="quem-somos-home">
  <div class="container">
    <h1 class="text-center text-uppercase title-1">{{lang.about.session1.title}}</h1>
    <div class="row flex-center">
      <div class="col-md-12 col-sm-12" style="">
        <img class="rounded-img rotate" src="assets/uploads/{{agcc.photo}}" alt=""
          style="width: 550px; height: 440px;float:left;margin-right:10px">

        {{{lang.about.session1.description}}}

      </div>
    </div>
  </div>
</div>

<style>
  .cards {
    display: flex;
  }
</style>
<div id="mission">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center title-2">{{{lang.about.session2.title}}}</h2>
      </div>
    </div>
    <div class="cards">
      <div class="row bg-light">
        <div class="col-12 ">
          <div class="card-box">
            <h3>Missão</h3>
            <p class="text-center">
              {{agcc.mission}}
            </p>
          </div>
        </div>
        <div class="col-12">
          <div class="card-box">
            <h3>Visão</h3>
            <p class="text-center">
              {{agcc.eyesight}}
            </p>
          </div>
        </div>
        <div class="col-12">
          <div class="card-box">
            <h3>Valores</h3>
            <p class="text-center">
              {{agcc.values}}
            </p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
</div>

{{!-- <div id="objectivs">
  <div class="container">
    <h2 class="text-center title-2">Objectivos Estratégicos</h2>
    <ol>
      <li>
        Assumir posição privilegiada no domínio do investimento privado em todo o território nacional
        Constituir-se como empresa sólida, criativa e lucrativa
      </li>
      <li class="circle"> &rarr; </li>
      <li>
        Assumir posição privilegiada no domínio do investimento privado em todo o território nacional</li>
      <li class="circle"> &rarr; </li>
      <li>
        Ser referência entre as empresas nacionais pelo volume de negócios e investimentos em empresas em mercados
        internacionais.</li>
    </ol>
  </div>
</div> --}}
{{!-- 
<div id="metodologia">
  <div class="container">
    <h2 class="text-center title-2">Metodologia</h2>
    <p class="text-center">A AGCC CONSULTORIA LDA utiliza metodologias consagradas e conceitos modernos de gestão
      organizacional, validadas
      e
      amparadas por instituições de renome, adaptando as melhores e mais adequadas práticas dentro da realidade e
      necessidade de cada empresa. Para tal, conta com:</p>

    <ol>
      <li>
        Métodos e ferramentas como: Matriz SWOT, PDCA, Plano de ação, Brainstorming, Diagrama de causa e efeito entre
        outros.</li>
      <li class="circle"> &rarr; </li>
      <li>
        A parceria de instituições públicas, privadas, centros de investigação científica e parceiros nacionais e
        internacionais.</li>
      <li class="circle"> &rarr; </li>
      <li>
        Ideias e propostas de trabalho que adequam-se a realidade e tem em consideração estudos, especialistas e
        principais autores nacionais e estrangeiros sobre as áreas objecto de trabalho.</li>
    </ol>

  </div>
</div>

<div id="organizacao-programa-trabalhos">
  <div class="container pt-5 pb-5">
    <h2 class="text-center title-2 text-white mb-5">Organização e programa de trabalhos</h2>
    <div class="etapas">
      <div class="etapa">
        <span>Etapa # 1</span> Diagnóstico
      </div>
      <div class="etapa">
        Reuniões Análise
      </div>
      <div class="etapa">
        SWOT
      </div>
    </div>

    <div class="etapas">
      <div class="etapa">
        <span>Etapa # 2</span> Estudo
      </div>
      <div class="etapa">
        Definição de metodologias
      </div>
      <div class="etapa">
        Planeamento
      </div>
    </div>

    <div class="etapas">
      <div class="etapa">
        <span>Etapa # 3</span> Implementação
      </div>
      <div class="etapa">
        Plano de acção
      </div>
      <div class="etapa">
        Monitoria
      </div>
    </div>

    <div class="etapas">
      <div class="etapa">
        <span>Etapa # 4</span> Balanço
      </div>
      <div class="etapa opacity-0">
      </div>
      <div class="etapa opacity-0">
      </div>
    </div>
  </div>
</div>

<div id="prazos-e-relatorios" class="bg-primary">
  <div class="container">
    <h2 class="text-center title-2">Prazos e Relatórios</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="image-box">
          <img src="https://image.flaticon.com/icons/svg/3079/3079050.svg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <p>O prazo de conclusão dos trabalhos é ajustado às necessidades da empresa contratante. O cronograma prevê os
          prazos
          de início e conclusão, as horas necessárias, in-company e out-company, conforme a necessidade e acordo com o
          cliente.</p>
        <p>O resultado de nosso trabalho será apresentado em relatório, em português ou inglês, contendo basicamente
          os
          seguintes capítulos:
        </p>

        <ul>
          <li>Informações gerais (O Problema)</li>
          <li>Metodologia adoptada e respectiva </li>
          <li>justificativa,</li>
          <li>Detalhes dos trabalhos realizados</li>
          <li>Resultados apresentados</li>
          <li>Conclusões finais e recomendações</li>
        </ul>
      </div>
    </div>
  </div>
</div> --}}

<div id="team">
  <div class="container">
    <div class="box-center">
      <h2 class="text-center text-uppercase title-1">Equipa de Trabalho</h2>
      <p class="text-center">
        {{office.team}}
      </p>
    </div>

    <div class="members" style="background-color: #333;">
      {{#each teams}}
      <div class="member">
        <img src="assets/uploads/{{this.photo}}" alt="Avatar">
        <span>Nome: {{this.name}}</span>
        <span><strong>{{this.role}}</span></strong>
        <span>{{this.degree}}</span>
        <span>Email: {{this.email}}</span>
      </div>
      {{/each}}

    </div>
  </div>
</div>