<div id="contact-map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3942.5506599846635!2d13.227954814777851!3d-8.828213293660326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a51f3ae4f5ac07b%3A0x46405a987c53317!2sR.%20Aires%20de%20Menezes%2C%20Luanda!5e0!3m2!1spt-PT!2sao!4v1595605479103!5m2!1spt-PT!2sao"
    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>

<div id="contact-home" class="pt-30">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h2 class="text-left pl-3">{{{lang.contacts.session7.title}}}</h2>
        <form action="/admin/contacts" method="POST">
          <div>
            <label for="">{{{lang.contacts.session7.item1.fullName}}}</label>
            <input type="text" name="name" placeholder="{{{lang.contacts.session7.item1.fullName}}}"
              class="form-control">
          </div>
          <div>
            <label for="">E-mail</label>
            <input type="email" name="email" placeholder="E-mail" class="form-control">
          </div>
          <div>
            <label for="">{{{lang.contacts.session7.item1.subject}}}</label>
            <input type="text" placeholder="{{{lang.contacts.session7.item1.subject}}}" name="subject"
              class="form-control">
          </div>
          <div>
            <label for="">{{{lang.contacts.session7.item1.phoneNumber}}}</label>
            <input type="tel" name="tel" placeholder="{{{lang.contacts.session7.item1.phoneNumber}}}"
              class="form-control">
          </div>
          <div>
            <label for="">{{{lang.contacts.session7.item1.message}}}</label>
            <textarea name="{{{lang.contacts.session7.item1.message}}}" class="form-control" rows="8"
              maxlength="432"></textarea>
          </div>

          <div class="action">
            <button type="submit" class="btn btn-primary">{{{lang.contacts.session7.item1.send}}}</button>
          </div>
        </form>

      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="col">
          <span>
            <i class="far fa-calendar-alt"></i>{{{lang.contacts.session7.item2.serviceTime}}}
          </span>
          <span>
            <i class="fas fa-map-marker"></i>{{{lang.contacts.session7.item2.location}}}
          </span>
          <span class="flex-normal">
            <i class="fas fa-building"> </i>
            <span>{{{lang.contacts.session7.item2.office}}}
            </span>
          </span>
          <span><i class="fas fa-phone-alt"></i>{{office.tel}}
          </span><span><i class="fas fa-envelope"></i>E-mail: {{office.email}}</span>

        </div>
      </div>

    </div>
  </div>
</div>
</div>