<div id="portfolio">
  <div class="container">
    <div class="box-center">
      <h2 class="text-center text-uppercase title-1">{{{lang.news.session6.title}}}</h2>
      <p class="text-center">
        {{office.portfolio}}
      </p>
    </div>


  </div>
</div>

<div class="container">

  <div class="row pb-5">
    {{#each data}}
    <div class="col-lg-6 col-md-12 col-sm-12 pb-5">
      <a href="assets/uploads/{{this.photo}}">
        <img src="assets/uploads/{{this.photo}}" width="350" height="200" alt="Avatar" />
      </a><br>
      <span>{{this.title}}</span>
      <p>{{this.description}}</p>
      <a href="/portfolio/{{this._id}}" class="btn read-more">Leia mais...</a href="#">
    </div>
    {{/each }}
  </div>

</div>