<div id="portfolio">
  <div class="container">
    <div class="box-center">
      <h2 class="text-center text-uppercase title-1">Notícias</h2>
      <p class="text-center">
        AGCC CONSULTORIA LDA desenvolve o seu modelo de consultoria tendo como objectivo principal a melhoria dos
        processos
        de
        gestão, visando maior produtividade e competitividade para a empresa, prestando serviços nas seguintes áreas
      </p>
    </div>

    <div class="portfolios">

      {{#each data}}
      <div class="portfolio">
        <a href="assets/uploads/{{this.photo}}">
          <img src="assets/uploads/{{this.photo}}" width="350" height="200" alt="Avatar" />
        </a>
        <span>{{this.title}}</span>
        <p>{{this.description}}</p>
        <a href="/portfolio/{{this._id}}" class="btn read-more">Leia mais...</a href="#">
      </div>
      {{/each }}

    </div>
  </div>