<div class="container">
  <div class="row mt-5 text-center">
    <div class="col-12">
      <h2>{{{lang.services.session4.title}}}</h2>
      <p class="text-center">
        {{office.service}}
      </p>
    </div>
  </div>


  <div class="row text-center">
    {{#each services}}
    <div class="col-lg-4 col-sm-6 col-md-6 ">
      <div class="m-3">
        <a href="/areas-de-consultorias/{{this._id}}">
          <img src="assets/uploads/{{this.photo}}" width="100%" height="200" alt="Avatar" />
        </a><br />
        <span style="font-weight: bold;font-size: 18px;">{{this.name}}</span>
      </div>
      <!--<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <a href="#" class="btn read-more">Leia mais...</a href="#">-->
    </div>
    {{/each }}

  </div>


</div>