<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Contactos
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Admin</a></li>
    <li class="active">Contacts</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Inbox</h3>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">

          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <style>
                .size {
                  font-size: 20px;
                }
              </style>


              <tbody>
                {{#each contacts }}
                <tr class="center">
                  <td>
                  <td class="mailbox-star"><a href="#"><i
                        class="fa {{#if this.activo}}fa-star{{else}}fa-star-o{{/if}} "></i></a></td>
                  <td class="mailbox-name"><a href="/admin/contact/{{this._id}}">{{this.name}}</a></td>
                  <td class="mailbox-subject"><b>{{this.subject}}</b> - {{this.message}}
                  </td>
                  <td class="mailbox-date">
                    {{this.createdAt}}

                  </td>
                  <td class="mailbox-date">
                    <form method="POST" action="/admin/contact/{{this._id}}/remove">
                      <button style="background-color: transparent; border: none;" type="submit">
                        <i class="fa fa-trash text-danger size"></i>
                      </button>
                    </form>
                  </td>

                </tr>
                {{/each}}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
</section>